.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: start;
}

.loadingIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.formContainer {
  margin-bottom: 1rem;
}

.fileInputWrapper {
  margin: 1rem 0;
}

.validationError {
  color: #dc2626;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.dragDropArea {
  border: 2px dashed #cbd5e0;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: #4a5568;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dragDropArea:hover {
  background-color: #edf2f7;
}

.infoContainer {
  margin-bottom: 1rem;
}

.infoTitle {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.infoText {
  margin-bottom: 0.25rem;
}

.internalTransactionWarning {
  color: #dc2626;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.previewContainer {
  margin-bottom: 1rem;
}

.previewTitle {
  font-size: 1.125rem; /* text-lg */
  margin-bottom: 0.5rem;
}

.previewBox {
  height: 200px;
  border: 1px solid #e5e7eb; /* Tailwind's border equivalent */
}

.previewImage {
  height: 100%;
}

.dataContainer {
  margin-bottom: 1rem;
}

.dataTitle {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.dataBox {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 0.75rem;
  font-family: monospace;
  overflow-y: auto;
  height: 20rem;
  border: 1px solid #e5e7eb;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.uploadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadingIcon {
  width: 2rem;
  height: 2rem;
  transform: rotate(0);
}

.uploadingText {
  display: inline-block;
  margin-left: 0.5rem;
}

.validationError {
  align-self: center;
}

.dialog {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}

.dialog[data-closed] {
  opacity: 0;
}

.dialogBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialogContainer {
  position: fixed;
  inset: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.dialogPanel {
  max-width: 32rem;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 0.375rem;
}

.dialogPanel :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dialogTitle {
  font-weight: bold;
}

.dialogTitleError {
  font-weight: bold;
  color: #dc2626; /* text-red-500 */
}

.dialogContent {
  word-break: break-word; /* break-all */
}

.link {
  display: block; /* block */
  word-break: break-word; /* break-all */
  text-decoration: underline; /* underline */
}

.link:hover {
  text-decoration: none; /* hover:no-underline */
}
