.fileInfo {
  margin-bottom: 0.5rem;
}

.fileLabel {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.fileValue {
  font-size: 1.25rem;
  font-weight: bold;
}

.imageContainer {
  margin-bottom: 1rem;
  height: 24rem;
  width: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: start;
}

.loadingIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.imageWrapper {
  display: inline-block;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  height: 100%;
  object-fit: contain;
}

.noImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backButton {
  margin-top: 1rem;
}
