.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0.25rem 2.5rem;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 640px; /* Tailwind: sm */
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px; /* Tailwind: md */
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* Tailwind: lg */
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* Tailwind: xl */
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px; /* Tailwind: 2xl */
  }
}
