.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button {
  margin: 0 0.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #3b82f6;
}

.pageButton {
  margin: 0 0.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageButtonActive {
  background-color: #3b82f6;
  color: white;
}

.pageButtonInactive {
  background-color: white;
  color: #3b82f6;
}

.ellipsisIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #3b82f6;
}
